<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div class="content">
            <section>
                <h3>Plan de gobierno</h3>
                <p>La educación del siglo pasado no se ajusta a las necesidades del siglo XXI. Desarrollaremos una educación que estimule los talentos y la riqueza individual de cada uno de los niños y jóvenes colombianos, liberando su creatividad y permitiéndoles descubrir su vocación, en lugar de homogeneizar y estandarizar, valores imperantes en la educación del siglo pasado. Los educaremos para la incesante flexibilidad mental y formativa que demanda el nuevo siglo.</p>
            </section>
            <section>
                <h4>Más informacion</h4>
                <ul class="alt">
                    <li><a href="#">Ministerio de educacion.</a></li>
                    <li><a href="#">Coorporacion Colombia digital.</a></li>
                    <li><a href="#">Universidad Distrital.</a></li>
                    <li><a href="http://grupovirtus.org/sitio/" target="_blank">Grupo de investigacion Virtus.</a></li>
                </ul>
            </section>
            <section>
                <h4>Redes sociales</h4>
                <ul class="plain">
                    <li><a href="#" target="_blank"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                    <li><a href="#" target="_blank"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                    <li><a href="#" target="_blank"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                    <li><a href="#" target="_blank"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                </ul>
            </section>
        </div>
        <div class="copyright">
            &copy; Virtus.
        </div>
    </div>
</footer>