<!-- Header -->
<header id="header">
    <a class="logo" href="https://www.udistrital.edu.co/" target="_blank">
        <div class="row">
            <img src="/images/main-ud-logo-superior.png" height="50px">
            <span>Universidad Distrital Francisco José de Caldas</span>
        </div>            
    </a>
    <nav class="nav">
        <a href="/">Inicio</a>
        <a href="/loginAdmin">Acceder como Administrador</a>
    </nav>
</header>


<!-- Heading -->
<div id="heading">
    <h1>COMPETENCIAS TIC</h1>        
</div>