<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Competencias TIC</title>

    <!-- Importar elementos del proyecto-->   
    <link rel="stylesheet" href="/css/c3.min.css">
    <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/main.css">
	
	<!-- Css de las distintas  interfaces--> 
	<link rel="stylesheet" type="text/css" href="/css/estiloFormularios.css">
	<link rel="stylesheet" type="text/css" href="/css/estiloFormularioDatos.css">
    <link rel="stylesheet" type="text/css" href="/css/estiloResultados.css">
    
	<!-- Importar los elementos de bootstrap y jquery-->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>	
	<!-- Importar scripts de jquery y graficador-->
    <script type="text/javascript" src="/script/jquery.linq.min.js"></script>
    <script type="text/javascript" src="/script/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/script/jspdf.min.js"></script>
	<script type="text/javascript" src="/script/d3.min.js"></script>
	<script type="text/javascript" src="/script/c3.min.js"></script>
    

	<!-- Scripts de las distitnas interfaces-->
	<script type="text/javascript" src="/script/scriptFormularioDatos.js"></script>
    

</head>
    {{{ body }}}
</html>