<body>
    <div class="container p-2">
        <img src="/images/error404.jpg" class="card-img mx-aux m-2">

        <div class="row justify-content-center">
            <h1 class="text-center">ERROR 404</h1>        
        </div>
        <div class="row justify-content-center">
            <span class="text-center">Lo sentimos, no se pudo encontrar la página</span>
        </div>
        
    </div>
</body>
